.footer {
    height: 80vh;

    display:flex;
    justify-content:center;
    align-items:center;

    &.container > div {
        height: 100%;
        width: 100%;
    }


    @media screen and (max-width: 992px) {

        .footer {
            width: 100%;
        }
    }
}