.youtube {
    background-color: $white;
    padding: 3rem 0 0 5rem;
    width:auto;
    height:100vh;

    & h3 {
        width: 658px;
        height: 138px;
        font-size: 40px;
        letter-spacing: -2px;
        margin-left: 3rem;
        margin-top: -.7rem;
        color: $textDark;
        filter: drop-shadow(0px 12px 45px rgba(65,121,248,0.35));
    }

    &__video {
        margin-top: -2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media screen and (max-width: 992px) {
        body{
            padding: 0 4rem;
        }
        & h3 {
            width: 658px;
            height: 138px;
            font-size: 30px;
            letter-spacing: -2px;
            margin-left: 3rem;
            margin-top: -.7rem;
            color: $textDark;
            filter: drop-shadow(0px 12px 45px rgba(65,121,248,0.35));
        }
        .youtube {
            width: 100%;

            &__video {
                margin-top: 8rem;
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}