@import "./variables";


section {
  padding: 50px 0px;
}

.business-container {
  color: #FFF;

  .bussiness-header{
    margin-bottom:20px;
  }
}

.site-booster-list ul {
  padding:10px;
}

 .bussiness-header{
    margin-bottom:20px;
  }

.logo-text {
  color: #0086a3
}

.colored-section {
  background-color: #0086a3
}

.impact-container {
  color:#FFF
}

.impact-header {
  margin-bottom: 50px;
}

.impact-icon {
  margin-bottom: 20px;
}

.impact-desc {
  padding: 0px 30px
}

.impact-desc p {
  font-size: 16px;
  text-align: justify
}

.impact-desc-header {
  margin: 0;
}


.youtube-video {
  margin-top: 50px;
  -webkit-box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 2px -6px rgba(0,0,0,0);
  box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 2px -6px rgba(0,0,0,0);
}



